.calculate-types {
    width: 100%;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculate-type {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 150px;
    height: 220px;
    margin-inline: 18px;
    cursor: pointer;
}

.calculate-image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 140px;
    background-color: #FFF;
    border-radius: 10px;
    overflow: hidden;
}

.calculate-type small a {
    color: var(--text-muted);
    text-decoration: none;
    font-size: 4px;
}

.btn {
    margin-top: 10px;
    width: 150px;
    height: 45px;
    font-size: 22px;
    font-weight: 600;
}