<div class="calculate-types">
  <div class="calculate-type" (click)="selectType.emit('house')">
    <div class="calculate-image">
      <img src="assets/icons/house.png" height="140px" />
    </div>

    <button [ngClass]="{ 'btn-blue-linear': type === 'house' }" class="btn btn-gray-linear">
      {{ translations?.main?.options?.immobile }}
    </button>
  </div>

  <div class="calculate-type" (click)="selectType.emit('transportation')">
    <div class="calculate-image" style="padding-top: 25px">
      <img src="assets/icons/car.png" height="70px" />
    </div>

    <button [ngClass]="{ 'btn-blue-linear': type === 'transportation' }" class="btn btn-gray-linear">
      {{ translations?.main?.options?.vehicle }}
    </button>
  </div>

  <div class="calculate-type" (click)="selectType.emit('smartphone')">
    <div class="calculate-image">
      <img src="assets/icons/mobile-app.png" height="100px" />
    </div>

    <button [ngClass]="{ 'btn-blue-linear': type === 'smartphone' }" class="btn btn-gray-linear">
      {{ translations?.main?.options?.smartphone }}
    </button>
  </div>
</div>
