<div class="calculate-types">
  <div class="calculate-type" (click)="selectType.emit('house')">
    <small>
      <a href="https://www.flaticon.com/free-icons/house" title="home icons">
        Vectors Market - Flaticon
      </a>
    </small>
    <div class="calculate-image">
      <img src="assets/icons/house.png" height="90px" />
    </div>

    <button [ngClass]="{ 'btn-linear': type === 'house' }" class="btn">
      {{ translations?.main?.options?.immobile }}
    </button>
  </div>

  <div class="calculate-type" (click)="selectType.emit('transportation')">
    <small>
      <a href="https://www.flaticon.com/free-icons/car" title="car icons">
        Konkapp - Flaticon
      </a>
    </small>
    <div class="calculate-image" style="padding-top: 8px">
      <img src="assets/icons/car.png" height="100px" />
    </div>

    <button [ngClass]="{ 'btn-linear': type === 'transportation' }" class="btn">
      {{ translations?.main?.options?.vehicle }}
    </button>
  </div>

  <div class="calculate-type" (click)="selectType.emit('smartphone')">
    <small>
      <a
        href="https://www.flaticon.com/free-icons/smartphone"
        title="scooter icons"
      >
        Smartphone - Flaticon
      </a>
    </small>
    <div class="calculate-image" style="padding-top: 18px">
      <img src="assets/icons/mobile-app.png" height="70px" />
    </div>

    <button [ngClass]="{ 'btn-linear': type === 'smartphone' }" class="btn">
      {{ translations?.main?.options?.smartphone }}
    </button>
  </div>
</div>
