.main {
    margin-top: 60px;
}

.main .title {
    color: var(--text-secondary);
    font-size: 45px;
    text-align: center;
    font-weight: 500;
}

.main .container-calculate {
    width: 100%;
    min-height: 0;
    margin-top: 70px;
    transition: all 0.8s;
}

.main .container-calculate-active {
    min-height: 900px;
}